<a href="<%- url_for(post.path) %>" class="<%= class_name %>">
  <!-- 显示文章配置项日期 -->
  <time datetime="<%= date_xml(post.updated || post.date) %>" itemprop="datePublished"><%= date(post.updated ? post.updated : post.date, date_format) %></time>
</a>